body {
    background-color: #99bbff;
    margin: 0;
    padding: 0;
    border: 60px solid #e6ffe6;
    color: white;
}

/* Heading */

header {
    font-size: 50px;
    display: inline-block;
    position: relative;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
}

.header {
    width: 60%;
    padding: 50px;
    color: white;
}

.Roboto {
    font-family: 'Roboto', sans-serif;
}

.top-header {
    font-size: 30px;
}

.header .red{
    font-family: 'Inconsolata', monospace;
    display: block;
    padding: 15px;
    background-color: #e60000;
    color: white;
}
.header .red-line {
    border-bottom: 1px solid red;
}

.container {
    display: flex;
    flex-flow: wrap column;
    align-items: flex-start;
    justify-content: space-evenly;
}

/* right side selection area */

.side-panel {
    opacity: 85%;
    position: absolute;
    top: 180px;
    left: 800px;
    padding: 9px;
    padding-top: 80px;
    margin: 0;
    height: 900px;
    background-color: khaki;
    color: grey;
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
}

.side-panel h3 {
    color: black;
    padding-left: 40px;
}

.side-panel ul li {
    list-style: none;
    text-decoration: underline;
    padding: 5px;
    padding-bottom: 20px;
}

a {
    color: black;
}

/* black side box */

.box {
    left: 850px;
    opacity: 80%;
    position: absolute;
    background-color: black;
    width: 375px;
    height: 4000px;
    top: -900px;
}

/* first paragraph "The Road to Enlightenment" */

.first-paragraph {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    background-color: white;
    color: black;
    position: relative;
    right: 100px;
    font-family: 'Quicksand', sans-serif;
    height: 400px;
    width: 700px;
    padding: 50px 50px 0 50px;
    opacity: 80%;
}

.first-paragraph h3 {
    font-size: 30px;
    margin-left: 60px;
}

.first-paragraph p {
    margin-left: 60px;
    font-size: 17px;
}

/* Two paragraph's css */

.two-paragraphs {
    margin-top: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    font-weight: bold;
}

.two-paragraphs h3 {
    font-weight: lighter;
    font-size: 30px;
}

.para-one {
    height: 600px;
    width: 400px;
    padding: 40px;
}

.para-two {
    height: 600px;
    width: 400px;
    padding: 40px;
    opacity: 70%;
    background-color: red;
    z-index: 5;
}

/* bottom paragraphs css */

.last-paragraphs {
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    font-weight: bold;
}

.last-paragraphs h3 {
    font-weight: lighter;
    font-size: 40px;
}

.left-paragraph {
    margin-left: 30px;
    padding: 20px 45px;
    opacity: 90%;
    background-color: white;
    color: black;
    width: 200px;
    align-self: center;
}

.right-paragraph {
    padding: 40px 50px;
    width: 640px;
    opacity: 90%;
    background-color: white;
    color: black;
    z-index: 5;
}

#last-paragraph {
    border-bottom: 1px solid red;
}

.paragraph-footer {
    font-weight: lighter;
}

/* footer css */

footer {
    padding: 10px;
    margin: 0;
    margin-left: 55px;
    background-color: rgb(252, 252, 136);
    width: 500px;
}

footer ul {
    margin: 0;
    margin-left: -15px;
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
}

footer li {
    padding: 10px;
}

footer a {
    text-decoration: none;
    border-bottom: 1px solid grey;
}
